.search-content {
    text-align: center;
  }
  
  .search-content input {
    width: 50%;
    padding: 15px  40px;
    border: none;
    outline: none;
    border-radius: 20px;
  }
  
  .search-content i {
    position: relative;
    color: rgb(93, 89, 89);
    left: 4vh;
    top: 0.4vh;
  }
  